POSTGRES_DB=sigele
POSTGRES_USER=sigele
POSTGRES_PASSWORD=Ch4r4ct3rs

JWT_SECRET=your-super-secret-key-min-32-characters-long!
JWT_ISSUER=Sigele
JWT_AUDIENCE=Sigele
JWT_EXPIRE_HOURS=8

VITE_API_URL=http://localhost:5157/api
